.sign-in-page{
  display: flex;


  .sign-in-image{
    margin-top: 70px;
    height: 90.5vh;
    flex: 1;
    background-position: center;
    background-size: cover;
  }
  
  .sign-in-form{
    flex: 1;

    .sign-in{
      flex: 1;
      width: 50%;
      margin: 0 auto;
      padding-top: 25vh;
    }
  }
}
