.sign-in-page{
  display: flex;


  .sign-in-image{
    margin-top: 70px;
    height: 90.5vh;
    flex: 0.75;
    background-position: center;
    background-size: cover;
  }
  
  .sign-in-form{
    flex: 1;

    .sign-in{
      flex: 1;
      width: 70%;
      margin: 0 auto;
      padding-top: 25vh;

      .buttons {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  @media screen and (max-width: 900px) {
    .sign-in-image {
      flex: 0;
    }
  }
}
