.sign-up-page{
  display: flex;


  .sign-up-image{
    margin-top: 70px;
    height: 90.5vh;
    flex: 0.75;
    background-position: center;
    background-size: cover;
  }
  
  .sign-up-form{
    flex: 1;

    .sign-up{
      flex: 1;
      width: 70%;
      margin: 0 auto;
      padding-top: 15vh;
    }
  }

  @media screen and (max-width: 900px) {
    .sign-up-image {
      flex: 0;
    }
  }
}
