.header {
  height: 70px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
  margin-bottom: 25px;
  background-color: #fff;
  position: fixed;

  .logo-container{
    height: 100%;
    width: 100px;
    padding: 12px;
    font-size: 35px;
    letter-spacing: 2px;
    font-style: italic;
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option{
      padding: 10px 15px;
    }
  }
}
