.wrapper {
  height: 320px;
  margin: 0 20px;

  .menu-item {
    min-width: 250px;
    max-width: 300px;
    height: 240px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    border-radius: 3px;
    transition: transform .5s;
  
    &:hover {
      box-shadow: 0 11px 11px rgba(33,33,33,.2);
      transform: scale(1.02);
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .title {
      font-weight: 400;
      margin-bottom: 6px;
      font-size: 14px;
      color: #4a4a4a;
    }

    .subtitle {
      font-weight: bold;
      font-size: 12px;
    }
  }
}
